/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

@import "./html/home";
@import "./html/nosotros";
@import "./html/servicios";
@import "./html/noticias";
@import "./html/contactos";









